<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itworker.dao.BookDao">

    <!--  查询图书通过图书名  -->
    <select id="findByName" parameterType="java.util.Map" resultType="com.itworker.domain.BookBean">
        select * from book where book_name like #{bookName} limit #{page},#{pageSize};
    </select>

    <!--  查询图书通过ISBN #{isbn} -->
    <select id="findByIsbn" parameterType="java.util.Map" resultType="com.itworker.domain.BookBean">
        select * from book where isbn = #{isbn} limit #{page},#{pageSize};
    </select>

    <!--  查询用户所有的书籍 -->
    <select id="findAllUserBook" parameterType="java.util.Map" resultType="com.itworker.domain.BookBean">
        select * from book where user = #{user} limit #{page},#{pageSize};
    </select>
    <!--  查询用户所有喜欢的的书籍 -->
    <select id="findAllUserLikeBook" parameterType="java.util.Map" resultType="com.itworker.domain.BookBean">
        select book.b_id,book_name,author,publisher,publish_year,photo_url_1,photo_url_2,photo_url_3,price,original_price,classification,status,quantity,college,isbn,book.user
        from book,my_like
        where book.b_id = my_like.b_id and my_like.user=#{user} limit #{page},#{pageSize};
    </select>

    <insert id="addBook" parameterType="java.util.Map">
        insert into book
         (book_name,author,publisher,publish_year,photo_url_1,photo_url_2,
            photo_url_3,price,original_price,classification,status,quantity,college,isbn,user)
         values(
         #{book_name},#{author},#{publisher},#{publish_year},#{photo_url_1},#{photo_url_2},
            #{photo_url_3},#{price},#{original_price},#{classification},#{status},#{quantity},#{college},#{isbn},#{user}
            )
    </insert>


    <insert id="addMyLike" parameterType="java.util.Map">
        insert into my_like
         (b_id,user)
         values
         (#{b_id},#{user})
    </insert>


    <!--    <select id="findByPage" parameterType="java.util.Map" resultType="com.itworker.domain.BookBean">-->
<!--        select * from book-->
<!--        where-->
<!--        <if test="bookName != null and bookName != ''">-->
<!--            (book_name like #{bookName})-->
<!--        </if>-->
<!--        limit #{page},#{page_size};-->
<!--    </select>-->

</mapper>